<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506228420577-b663f7diqp4ki0gao5mce4otspqjjcn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506228420577-b663f7diqp4ki0gao5mce4otspqjjcn4</string>
	<key>API_KEY</key>
	<string>AIzaSyCKhxKiDR44GZ10TiTekbQqEahgOT9cKow</string>
	<key>GCM_SENDER_ID</key>
	<string>506228420577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restroApp</string>
	<key>PROJECT_ID</key>
	<string>restaurantapp-685a9</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantapp-685a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506228420577:ios:3ee2310eba20a80dfdaca0</string>
</dict>
</plist>